<section class="pad-bottom" id="about">
	<div class="container pad-top-half pad-bottom-half about">
 		<div class="row">
 			<div class="col-lg-5 col-md-12 section-title">
 				<h2><span class="darkpink">Bike Berlin</span><br>is an online shop for used bikes in Berlin.</h2>
 			</div>
			<div class="col-lg-5 col-lg-offset-2 col-md-12">
				<h5> Sustainable alternative travel is in the heart of our philosophy and we hope you find your perfect fit for personal transport among our selection of used bicycles.</h5>
			</div>
		</div>
	</div>
</section>



		
