<section class="pad-bottom" id="about">
	<div class="container pad-top-half pad-bottom-half about">
 		<div class="row">
 			<div class="col-lg-5 col-md-12 section-title">
 				<h2>About us</h2>
 				<h3 id="contact-note">Sustainable alternative travel is in the heart of our philosophy and we hope you find your perfect fit for personal transport among our selection of used bicycles.</h3>
 			</div>
			<div class="col-lg-5 col-lg-offset-2 col-md-12">
				<h5><strong>Bike Berlin</strong> is your source for used bikes in Berlin. You can browse our online shop or visit our shop in the heart of Berlin.</h5>
			</div>
		</div>
	</div>
</section>



		
