<h1>Contact</h1>
<h2>Need assistance? Visit Berlin Bikes or drop us a line!
</h2>
<h3>Berlin Bikes</h3>

<ul>
	<li>Address</li>
		<p> ThisStreet, Berlin, Germany </p>
	<li>Phone</li>
		<p>123 1234 12</p>
	<li>Email</li>
		<p>berlinbikes@berlinbikes.com</p>
</ul>
