<section id="contact">
	<div class="container pad-top-half pad-bottom-half contact">
 		<div class="row">
 			<div class=" col-md-5 col-sm-12">
 				<h2 class="black">Say hello.</h2>
 			</div>
			<div class="col-md-5 col-md-offset-2 col-sm-12">
				<h5 class="black">bikeberlin@bikeberlin.com<br>Trendystreet, Berlin, Germany<br>+123 456 789</h5>
			</div>
		</div>
	</div>
	<div class="container pad-sides lightgrey-bg">
		<div class="row title-section">
			<div class="col-md-12 pad">
				<form>
					<article>
						<input type="text" placeholder="Your Name" name="name" id="name">
					</article>
					<article>
						<input type="text" placeholder="Your Email" id="email">
					</article>
					<article>
						<textarea placeholder="Your Message" name="message" id="message" rows="6"></textarea>
						<div class="text-left">
							<button class="btn btn-sendmsg" id="submit" name="submit" type="submit">Send Message</button>
						</div>
					</article>
				</form>
			</div>
		</div>
	</div>
			
</section>

