<section class="" id="about">
	<div class="container pad-top-half pad-bottom-half">
		<div class="row">
			<div class="col-md-5 col-sm-12">
				<h2>Bike Berlin</h2>
			</div>
			<div class="col-md-5 col-md-offset-2 col-sm-12">
				<h5>Welcome to Bike Berlin.<br>Your source for used bikes in Berlin.</h5>
			</div>
		</div>
	</div>
	<div class="container white-bg pad-top-half pad-bottom-quarter">
		<div class="row bikes">
			<div class="col-md-7 col-sm-12">
				<%= image_tag("berlinbikes-2.jpg", class: "img-responsive") %>
			</div>
			<div class="col-md-5 col-sm-12 text-under bottom-align-text">
				<h3>Red Bike</h3>
				<p>Spicy jalapeno bacon ipsum dolor amet porchetta frankfurter capicola, ball tip bacon ground round rump flank shoulder andouille short ribs fatback.</p>
			</div>
		</div>
	</div>
</section>
