
// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*VARIABLES*/
$dark-blue: #2A363B;
$teal: #136477;
$lightgrey: #f1f1f1;
$silver: #f0f4f4;
$darkergrey: #2A363B;
$darkpink: #E84A5F;
$lightpink: #FF847C;
$yellowish: #FECEA8;
$retrogreen: #99B898;
$grey: #aaaaaa;

#new-product, #prod-database, #prod-show {
	background-color: $lightpink;
	padding-bottom: 90px;

	@media (min-width: 1024px) {
		background-color: $lightpink;
  		background-image: -webkit-linear-gradient(0deg, #ffffff 50%, $lightpink 50%);
  		height: auto;
	}
}

.prod-info {
	padding: 10px;
	height: auto;

	.img-responsive {
		max-width: 100%;
		margin: auto;
		width: 100%;
	}

	.prod-info-inner {
		padding: 20px;
		border: 3px solid $lightpink;
		min-height: 450px;

	}

	p#prod-price {
			font-size: 24px;
			font-weight: 700;
			text-transform: normal;
			color: $darkpink;
			padding-bottom: 18px;
		}

	h5,p,span {
		margin-bottom: 12px;
	}

	h5 {
		font-weight: 900;
	}
}

span#prod-details {
 	display: inline-block;
 	color: $darkergrey;

 	a {
 		padding-right: 15px;
 	}
}

#prod-colour {
	font-weight: 900;
}


.bikes .bike-text

	h2,h3,h4,h4,h6,p {
		margin-bottom: 0 !important;
		text-align: left;
		line-height: 24px;
	}

	h3#prod-title {
		font-weight: 500;
		text-transform: uppercase;
	}

	p#prod-price {
		font-size: 36px;
		font-weight: 700;
		text-transform: normal;
		color: $darkpink;
	}

	p#comment {
		color: grey;
	}

	hr {
		margin: 12px 0;

		&.style1 {
			border-top: 3px solid $darkpink;
			margin-top: 36px;
		}

		&.style2 {
			border-top: 2px dotted $lightgrey;
		}

		&.style3 {
			border-top: 3px solid black;
			margin-top: 0;
		}
	}

/*comments*/

/*** carousel ***/

.header-caption {
	font-family: "freight-sans-pro",sans-serif;
	font-style: normal;
 	margin: 0 auto;
	vertical-align: center;
	max-width: 100%;
	top: 33%;
	position: absolute;
	text-align: center;
	z-index: 98;
	left: 10%;
	right: 10%;
}

.carousel {
	margin-left: -15px;
  	margin-right: -15px;
  	height: 100%;
  	position:relative;
}

.carousel,.item,.active { 
	height: 100%;
}

.carousel-inner {
	height: 100%;
	background-position: center;
	background-size: cover;
}

.fill {
	height:100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #fff;
    opacity: .3;
}

.carousel-caption {
	color: black;
	text-decoration: none;
	text-shadow: none;
	position: absolute;
	top: 25%;
	text-align: center;
	width: 33%;
	height: 50%;
	margin: 0 auto;
	left: 10%;
	right: 10%;
	background-color: rgba($darkpink,.80);
	padding: 24px;

	h4 {
		padding: 12px;
		color: white;
		border: 2px solid white;
	}

	h3 {
		color: black;
		padding: 12px;
		margin: 0px;

	}
}


/*** carousel-control ***/
.carousel-control.right,
.carousel-control.left {
  background-image:none;
  width: 10%;
  color: $darkpink;
  text-decoration: none;
  text-shadow: none;
  z-index: 3
}

.carousel-control.right {
	right: -100px;
}

.carousel-control.left {
	left: -100px;
}

.carousel-control:hover,
.carousel-control:focus{
	opacity: 0.9;
}

/*** carousel-indicators ***/
.carousel-indicators li {
	border-radius: 0;
	border: 1px solid $darkpink ;
}

.carousel-indicators .active {
	background-color: $darkpink;
}

/*PRODUCT FORMS*/

.container.prod-forms {
	padding: 30px;
	background-color: white;
	border: 3px solid $lightpink;

	.row {
		padding: 30px;

		#inner-form {
			padding: 30px;
			text-align: left;
		}
	}
}

.pads {
	padding: 30px;
}


div.actions {
	background-color: $darkpink;
	padding: 0 12px;
	border-radius: 0px;

  input {
		margin-bottom: 0;
		border-bottom: none;
		margin-bottom: 0px;	
		border-bottom: none;
		padding: 0px;

		font-weight: 500;
		text-transform: uppercase;
		color: white;
		letter-spacing: 0.1em;
	}
		
	&:hover {
		background-color: white;
		border: 3px solid $darkpink; 
		
		input {
			color: $darkpink;
			font-weight: 900;
			letter-spacing: 0.1em;
			text-decoration: none;
		}
	}
}

div.field {
	background-color: white;
	color: $dark-blue;
	margin-bottom: 36px;
	padding: 12px;
	border-bottom: 2px solid $grey;
	border-right: 2px solid $grey;

	label {
		margin-bottom: 6px;
		font-weight: 900;
		letter-spacing: 0.05em;
		color: $darkpink;
		text-transform: uppercase;
	}

	input, textarea {
		border-top: 4px solid $darkpink;
		background-color: white;
		margin-bottom: 0px;	
		border-bottom: none;
		padding: 6px;
		line-height: 14px;
	}

}

/*CONTACT FORM*/

.container.contact-form {
	padding: 30px;
	background-color: white;
	border: 3px solid $lightpink;

	@media (min-width: 1024px) {
  		width: 50%;

	}

	.row {
		padding: 30px;

		#inner-form {
			padding: 30px;
			text-align: left;
		}
	}
}

.form-group {

	background-color: white;
	padding: 12px 24px;
	margin-bottom: 24px;
	text-align: left;

	.form-control {
		border: none;
		border-radius: 0px;
		border-top: 4px solid $darkpink;
		background-color: white;
		margin-bottom: 0px;	
		border-bottom: none;
		padding: 12px 0px;
		line-height: 24px;
	}
}

/*BUTTONS*/

.btn.second-btn {
	background-color: $teal;
	width: 100px;
	border-radius: 0px;

	a { 
		color: white;
		font-weight: 500px;
		letter-spacing: 0.1em;
	}

	&:hover {
		background-color: white;
		border: 2px solid $teal; 

		a {
			text-decoration: none;
			color: $teal;
			font-weight: 900;
			letter-spacing: 0.1em;
		}
	}
}



h3#contact-note {
	font-weight: 500;
	padding-bottom: 30px;
}

#login-page, #signup-page, #login-edit {
	background-color: $teal;
	padding-bottom: 90px;
	padding-top: 90px;
	font-family: "freight-sans-pro", sans-serif;

	@media (min-width: 1024px) {
  		height: auto;
	}
}

.container.login-form, .container.signup-form, .container.loginedit-form {
	max-width: 400px;
	margin: 0 auto;
	text-align: left;
	padding: 30px;
	background-color: $lightgrey;
	border: 5px solid white;

	#inner-form {
		padding: 0px;

		
		div.field {
			margin-bottom: 12px;
			border: none;

			label {
				text-transform: none;
				font-weight: 700;
				letter-spacing: 0.05em; 
				font-size: 16px;
			}
		}

		div.checkbox {
			background-color: none;
			position: relative;
			display: block;
			height: 24px;
			line-height: 24px;
			margin-bottom: 12px;

			input {
				position: absolute;
				margin: 0;
				height: 24px;
				border: 2px solid $darkpink;
				border-radius: 0;
			}

			label {
				text-transform: none;
				padding-left: 30px;
				margin-bottom: 0;
				font-weight: 900;
				display: inline-block;
			}
		}

		div.actions {
			margin-bottom: 12px;
		}

		i {
			color: $grey;
			font-size: 12px;
			line-height: 12px;
		}
	}

	form.button_to {
		background-color: white;
		border: 3px solid $lightpink;
		border-radius: 0px;
		width: 100%;

		input {
			line-height: 24px;
			border: 0;
			margin: 0;
			padding: 6px;
			color: $lightpink;
			letter-spacing: 0.05em;
		}
	}
}
