// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*VARIABLES*/
$dark-blue: #2A363B;
$teal: #136477;
$lightgrey: #f1f1f1;
$silver: #f0f4f4;
$darkergrey: #2A363B;
$darkpink: #E84A5F;
$lightpink: #FF847C;
$yellowish: #FECEA8;
$retrogreen: #99B898;
$grey: #aaaaaa;


/*Colors*/
.teal {
	color: #136477;
}

.darkergrey{
	color: #2A363B;
}

.darkpink {
	color: #E84A5F;
}

.lightpink {
	color: #FF847C;
}

.yellowish {
	color: #FECEA8;
}

.retrogreen {
	color: #99B898;
}

.darkergrey-bg {
	background-color: #2A363B;
}

.darkpink-bg {
	background-color: #E84A5F;
}

.lightpink-bg {
	background-color: #FF847C;
}

.yellowish-bg {
	background-color: #FECEA8;
}

.retrogreen-bg {
	color: #99B898;
}

.lightgrey-bg {
	background-color: #f1f1f1;
}

.white-bg {
	background-color: #ffffff;
}

.black {
	color: black;
}

/*UNIVERSAL*/

body {
	color: $darkergrey;
	background-color: white;
  width: 100%;
  margin-top: 90px;

	/*@media (min-width: 992px) {
		color: $darkergrey;
		background-color: $lightpink;
	  background-image: -webkit-linear-gradient(0deg, #ffffff 50%, $lightpink 50%);
	  width: 100%;
	}*/
}

.container {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		height: 100%;
		text-align: center;

	@media (min-width: 1024px) {
		margin-left: auto;
		margin-right: auto;
		width: 66.66%;
		padding-right: 0px;
		padding-left: 0px;
		height: 100%;
		text-align: left;
	}

	@media (min-width : 768px) {
		width: 100%;
		padding: 0 30px;
	}
}

.container-fluid {
	padding-right: 0px;
	padding-left: 0px;
	margin: auto;
}

.row {
	margin-right: 0px;
	margin-left: 0px;
}

.split-bg-one { 
  background-color: $lightpink;
  background-image: -webkit-linear-gradient(0deg, #ffffff 50%, $lightpink 50%);
  height: auto;
}

.split-bg-two { 
  background-color: $silver;
  background-image: -webkit-linear-gradient(0deg, $silver 50%, #ffffff 50%);
  height: auto;
}

/*TYPOGRAPHY*/

h1,h2,h3,h4,h5,h6,p {
	font-family: 'freight-sans-pro', sans-serif;
  margin-top: 0;
  margin-bottom: 24px;
  padding: 0;
}

p {
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
	letter-spacing: 0.03em;
}

h1 {
	font-weight: 900;
	font-size: 60px;
	line-height: 72px;
	letter-spacing: 0.1em;
	}

h2 {
	font-weight: 900;
	font-size: 60px;
	line-height: 72px;
	letter-spacing: 0.05em;
}

h3 {
	font-weight: 900;
	font-size: 36px;
	line-height: 54px;
	letter-spacing: 0.05em;
}

h4 {
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: 0.15em;
	text-transform: uppercase;
}

h5 {
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	padding-top: 14px;
}

h6 {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15em;
	text-transform: uppercase;
}

a {
	font-family: 'freight-sans-pro', sans-serif;
	font-size: 14px;
}

a {
	text-decoration: none;

	a:focus {
		outline: none;
	}
}

/*Paddings & Margins*/

.pad {
	padding: 60px 30px;

	@media (min-width : 1024px) {
		padding: 60px;
	}

	@media (min-width : 736px) {
		padding: 60px;
	}
}

.pad-sides {
	padding: 0;

	@media (min-width : 1024px) {
		padding:0 60px;
	}

	@media (min-width : 736px) {
		padding:0 60px;
	}

}

.pad-top {
	padding-top: 120px;
}

.pad-bottom {
	padding-bottom: 120px;
}

.pad-top-half {
	padding-top: 60px;
}

.pad-bottom-half {
	padding-bottom: 60px;
}

.pad-top-quarter {
	padding-top: 30px;
}

.pad-bottom-quarter {
	padding-bottom: 30px;
}

.add-bottom {
	margin-bottom: 120px;
}

.add-top-quarter {
	padding-top: 30px;
}

#no-pad {
	padding: 0 !important;
}
/*Colors*/



/*NAVIGATION*/

.navbar {
	line-height:90px;
	margin-bottom: 0px;
	border: none;
	height: 90px;
	padding: 0 120px;
	color: black;
	background-color: white;
}

.navbar-logo a {
	color: black;
	font-weight: bold;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0.1em;
	line-height: 90px;
	margin-top: 0;
	text-transform: uppercase;

	&:hover {
		text-decoration: none;
	}
}


.navbar .navbar-nav {
	margin: 0px;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	list-style: none;

	li {
		padding: 0px;
		
		a {
			color: black;
			padding: 0;
	
			&:hover {
				color: $teal;
				text-decoration: none
			}
		}
	}
}

.navbar {
	display: inline;

	.navbar-toggle {
		margin-top: 30px;
		border: 0;
		background-color: white;
		color: black;
		line-height: 90px;
		border-radius: 0;
		
		.icon-bar {
  		border: 0; 
  		background-color: black;
		}

		&:hover,:focus {
			background-color: $darkpink;
			color: white;
			border-radius: 0px;
		}
	}
}

.navbar-collapse ul.navbar-nav {
	background-color: white;
	margin: 0px;
	text-align: center;
	line-height: 90px;
	
	li {
		padding: 0 0 0 40px !important;
	}
}

/*FOOTER*/

.footer {
	font-size: 14px;

	.container {
		margin-top: 0;
		margin-bottom: 0;
	}

	h4 {
		margin-bottom: 0;
		font-weight: 700;
		color: $darkergrey;
	}

	.copywright {
		color: $darkergrey;
		font-weight: 300;
	}

	.small-font {
		font-size: 16px;
		font-weight: normal;
		letter-spacing: 0.03em;
		color: $grey;
		margin-bottom: 0;
		text-transform: normal;
	}

	@media (min-width : 1024px) { 
  	background-color: #f1f1f1;
  		background-image: -webkit-linear-gradient(0deg, #f1f1f1 50%, #ffffff 50%);
  		height: auto;
	}
}

/*INDEX-MAIN*/

.bikes {
	position: relative;

	.text-under h3 {
		padding-top: 30px;
	}
}

/*About*/

#about, #contact {
	background-color: $lightpink;
	padding-bottom: 90px;

	@media (min-width: 1024px) {
		background-color: $lightpink;
  	background-image: -webkit-linear-gradient(0deg, #ffffff 50%, $lightpink 50%);
  	height: auto;
	}
}

/*CONTACT*/

.contact h5 {
		margin-bottom: 0px;
}

form {
	input, textarea {
  	background: transparent;
    border: none;
    border-bottom: 1px solid ;
    border-radius: 0px ;
    box-shadow: none ;
    color: $darkergrey;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    height: 48px;
    margin-bottom: 30px ;
    padding: 12px 0px ;
    width: 100%;
  }

	textarea {
	  height: 96px;
	}
	
}
/*buttons */

.btn-sendmsg {
	font-family: "freight-sans-pro", sans-serif;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	line-height: 21px;
	padding: 12px 24px;
	border: solid 2px #E84A5F;
	border-radius: 0px;
	text-decoration: none;
	color: #E84A5F;
	background: transparent;
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
  transition-delay: initial;

	&:hover {
		background: #E84A5F;
		border: solid 2px white;
		color: white;
	}
}

@media (min-width : 1024px) {
	/*body {
		color: $darkergrey;
		background-color: $lightpink;
	  background-image: -webkit-linear-gradient(0deg, #ffffff 50%, $lightpink 50%);
	  height: 100%;
	  width: 100%;
	  margin-top: 90px;
	}*/

	.bikes {
		position: relative;
	}

	.bottom-align-text {
		position: absolute;
		bottom: 0;
		right: 0;
	}

	.container {
		margin-left: auto;
		margin-right: auto;
		width: 66.66%;
		padding-right: 0px;
		padding-left: 0px;
		height: 100%;
	}
}




