<section id="prod-database">
  <div class="container pad-top-half pad-bottom-half prod-database">
    <div class="row">
      <div class="col-md-5 col-sm-12">
        <h2>Products</h2>
      </div>
      <div class="col-md-5 col-md-offset-2 col-sm-12">
        <h5 class="">This is the Bike Berlin product database.</h5>
      </div>
    </div>
  </div>
  
  <div class="container pad-top-half pad-bottom-half prod-display">
    <div class="row">
      <%= render @products %>
    </div>
  </div>
      
</section>

